html, body, #app {
  height: 100%;
}

#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}

// .main-content {
//   //flex: 1;
// }

.footer {
  margin-top: -12px;
}

// @media screen and (max-width: 768px) {
//   #menu-toggle:checked + .navbar-menu {
//     display: block;
//   }
// }